<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>

    <meta charset="utf-8"/>
    <title>登录页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- CSS -->
    <link rel="stylesheet"  th:src="@{assets/css/reset.css}"/>
    <link rel="stylesheet" th:src="@{assets/css/supersized.css}"/>
    <link rel="stylesheet" th:src="@{assets/css/style.css}"/>

</head>

<body>
<form action="" method="post">
    <p>姓名：<input type="text" name="username"/>
    </p>
    <p>密码：<input type="password" name="password"/>
    </p>
    <p><a href="/login">提交</a>
    </p>
</form>

</body>

</html>

